.dish-container {
    padding: 10px 20px 10px 20px;
    width: 100%;
}

.dish-preview-img {
    width: 100%;
    max-height: 360px;
}
.ingredients-table {
    background-color: #fff2a7;
    font-family: "Indie Flower", cursive;
    font-size: 18px;
}
.ingredients-table__header {
    font-weight: bolder;
}
.ingredients-table__button {
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    background-color: #e6af09;
    border-radius: 0;
    color: white;
    box-shadow: 4px 4px 11px -6px rgba(0, 0, 0, 0.75);
}
.dish-preview-back-btn {
    font-size: 19px;
    background-color: #e6af09;
    border-radius: 0;
    color: white;
    box-shadow: 4px 4px 11px -6px rgba(0, 0, 0, 0.75);
}

#sidebar-total-price {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 20px;
    font-weight: bold;
}

#confirm-dinner-btn___a {
    width: 100%;
    margin-top: 10px;
}
#confirm-dinner-btn {
    width: 100%;
}

#guests-number-list {
    margin-left: 10px;
}

#menu-toggle-header {
    background-color: white;
}

#create-new-dinner-button {
    margin-top: 30px;
}
